html {
  background-color: black;
  margin: 0;
  font-family: sans-serif;
  height: 100%;
}
.firstwrap, .contain, .secondwrap {
  background-color: yellow;
}

body {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.7fr 3fr 15px;
  grid-gap: 20px;
  height: 100%;
  grid-template-areas:
    "conversations nav"
    "conversations area"
    ". ."
}

.topmenu {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1.5fr 1.5fr 1.5fr 0.2fr;
  grid-gap: 10px;
  grid-template-areas:
    "logo n-1 n-2 n-3 n-4 ."
}

.topmenu {
  list-style-type: none;
  color: white;
  height: 100px;
}
.topmenu li {
  background-color: black;
  text-align: center;
  margin: auto;
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
}
.topmenu li:hover {
  cursor: pointer;
  background: #ffffef;
}
.topmenu a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
}
#logo {
  height: 100%;
  overflow: auto;
}
.topmenu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}

.firstwrap {
  position: relative;
}
.contain {
  height: 100%;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 0.8em;
}


.secondwrap {
  text-align: center;
  height: 100%;
  padding-bottom: 10px;
}
.secondwrap p {
  background-color: black;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
}
.secondwrap a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
}
.secondwrap p:hover {
  cursor: pointer;
  background: #ffffef;
}


body {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
footer {
  color: white;
  display: none;
}


/*grid declarations*/
.firstwrap {
  grid-area: nav;
}
.contain {
  grid-area: area;
}
.secondwrap {
  grid-area: conversations;
}

#n-1{
  grid-area: n-1;
}
#n-2{
  grid-area: n-2;
}
#n-3{
  grid-area: n-3;
}
#n-4{
  grid-area: n-4;
}
#n-4{
  grid-area: n-4;
}

.topmenu {
  grid-area: navigation;
}
#logo {
  grid-area: logo;
}
footer {
  grid-area: footer;
}
