
.contain {
    width: 90%;
    margin: 0 auto;
}
.one {
    float: right;    
}
.one ul {
    padding: 50px;
    list-style: none;
    background-color: black;
}
.one li {
    display: inline-block;
    margin-left: 90px;
    font-size: 20px;
}
.one ul li a{
    text-decoration: none;
    color: white;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 28px;
    padding-right: 50px;
}
.one ul li a:hover {
background-color: blue;
}
.two{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.two ul{
list-style: none;
}
.two ul li {

}
.two ul li a {

}
.mobile-error {
  display: none;
}

@media only screen and (max-width: 600px) {
  .first, .second {
    display: none;
  }
  .mobile-error {
    display: block;
  }
  .mobile-error p {
    display: block;
    font-size: 1.2em;
    font-family: sans-serif;
    margin-top: 50px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
  }
}