
.firstwrap{
    position: relative;
    margin: 0 auto;
    clear: both;
    padding-top: auto;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    float: right;
}
.topmenu {
    background-color: black;
    text-align: right;
}
.topmenu li {
    list-style: none;
    margin: auto;
    background-color: black;
    width: auto;
    display: inline-block;
    padding: 30px;
}
.topmenu li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}
.topmenu li a:hover{
    background-color: blue;
}
.secondwrap {
    position: relative;
    margin: 0 auto;
    clear: both;
    padding-top: auto;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
}
.conversations {
    position: relative;
    background-color: black;
    margin: 0 auto;
    padding: 10px 10px;
    clear: both;
    width: 200px;
    float: left;
}
.conversations li {
    font-size: 30px;
    list-style: none;
    padding: 30px;
}
.conversations li a {
color:white;
text-decoration: none;
position: relative;
display: block;
height: 40px;
font-size: 30px;
}
.mobile-error {
  display: none;
}

@media only screen and (max-width: 600px) {
  .first, .second {
    display: none;
  }
  .mobile-error {
    display: block;
  }
  .mobile-error p {
    display: block;
    font-size: 1.2em;
    font-family: sans-serif;
    margin-top: 50px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
  }
}
